<div class="card utility-list mb-4">
  <div class="card-header">
    Utilities
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="/pun/sys/files">
        <i class="fa fa-folder"></i>
        File manager</a></li>
    <li class="list-group-item"><a href="/pun/sys/activejobs">
        <i class="fa fa-clock-o"></i>
        Job manager</a></li>
    <li class="list-group-item"><a href="/pun/sys/myjobs">
        <i class="fa fa-magic"></i>
        Job Composer</a></li>
    <li class="list-group-item"><a href="/pun/sys/shell/ssh">
        <i class="fa fa-terminal"></i>
        Shell</a></li>
  </ul>
  <div class="card-footer">
    <a title="System Status" href="/pun/sys/dashboard/apps/show/system-status">
  <i class="fa fa-tachometer"></i> System Status
</a>
  </div>
</div>