<div class="brandbar bg-black">
    <a class="logo" href="https://www.stanford.edu">
      Stanford University
    </a>
  </div>

  <style>
  @font-face {
  font-family: Stanford;
  src:
    url('https://www-media.stanford.edu/assets/fonts/stanford.woff') format("woff"),
    url('https://www-media.stanford.edu/assets/fonts/stanford.ttf') format("truetype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Source Sans;
  src:
    url('https://www-media.stanford.edu/assets/fonts/stanford.woff') format("woff"),
    url('https://www-media.stanford.edu/assets/fonts/stanford.ttf') format("truetype");
  font-weight: 300;
  font-display: swap;
}


 .brandbar .logo {
    text-transform: none;
    font-variant: normal;
    letter-spacing: 0;
    font-feature-settings: "liga" 1;
    font-variant-ligatures: discretionary-ligatures;
    font-family:
      Stanford,
      Source Serif Pro,
      Georgia,
      Times,
      Times New Roman,
      serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    font-size:20px;
        -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
             transform: translateZ(0);
  }
   .brandbar .logo,
   .brandbar .logo:focus,
   .brandbar .logo:hover {
    color: white;
    text-decoration:none;
  }
    .brandbar {
      padding: 5px 1rem 1px;
    }

  
  .bg-black {
    background-color: black;
  }
 .navbar-brand.navbar-brand-logo img {
    max-height: 40px;
    width:auto;
}

.app-launcher .launcher-click.jupyter {
    border: 16px solid #F37626;
}
  </style>
